@import '../../../style/style.scss';

.inputComponent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 120px;
  margin-top: 8px;
  margin-bottom: 8px;

  .abs-fa {
    position: absolute;
    top: calc(50% - 8px);
    left: $spaces-medium;
    color: $color-dark-gray;
  }

  .label {
    position: absolute;
    left: 7px;
    top: -7px;
    font-family: 'Open Sans';
    font-weight: 200;
    text-transform: uppercase; 
    font-size: 12px;
    background-color: #fff;
    padding: 0px 4px;
    color: $color-dark-gray; 
    z-index: 2;
    &.empty {
      top: calc(50% - 10px); 
      left: 7px;
      font-size: 14px;
      background-color: unset;
      z-index: 0;
    }
    
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  input {
    height: 100%;
    min-height: 52px;
    padding-left: 10px;
    border: none;
    background-color: unset;
    border: 1px solid $color-gray;
    border-bottom: 2px solid $color-gray;
    z-index: 1;
    font-size: 16px;
    font-family: 'Proxima Nova';
    &.untouched {
      border-bottom: 1px solid $color-gray;
    }
    &:focus {
      border-bottom: 2px solid $color-black;
      outline: 0;
    }
    &:disabled {
      color: $color-gray;
      cursor: not-allowed;
    }
    .invalid & {
      border-bottom: 2px solid $color-red;
    }
    .valid & {
      border-bottom: 2px solid $color-green;
    }
  }

  &.icon-padding {
    input {
      padding-left: 34px;
    }
    .label {
      left: 32px;
    }
  }
}