@import '../../style/style.scss';

.app {
  height: 100%;
  width: 100%;

  .content {
    margin: $spaces-medium;
  }

  
  &.dark {
    background-color: $color-dark;
    color: $color-darktext;
  }
}

.loadingScreen {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  i {
    margin-right: $spaces-medium;
  }
}