@import '../../style/style.scss';

.app {
  height: auto;
  min-height: 100%;
  width: 100%;

  .content {
    margin: $spaces-medium;
  }

  .ReactTable .-pagination .-btn {
    font-size: 16px;
  }
  
  &.dark {
    body & {
      background-color: $color-dark;
      color: $color-darktext;
    }
    
    .ReactTable .-pagination .-btn {
      background-color: $color-primary;
      &:hover {
        color: $color-black;
      }
    }
  }
}

.loadingScreen {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  i {
    margin-right: $spaces-medium;
  }

  &.dark {
    background-color: $color-dark;
    color: $color-darktext;
  }
}