@import '../../style/style.scss';

.app {
  height: auto;
  min-height: 100%;
  width: 100%;

  .content {
    margin: $spaces-medium;
  }

  .ReactTable .-pagination .-btn {
    font-size: 16px;
  }
  
  &.dark {
    body & {
      background-color: $color-dark;
      color: $color-darktext;
    }
    
    .ReactTable .-pagination .-btn {
      background-color: $color-primary;
      &:hover {
        color: $color-black;
      }
    }
  }
}

.loadingScreen {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  i {
    margin-right: $spaces-medium;
  }

  &.dark {
    background-color: $color-dark;
    color: $color-darktext;
  }
}

.title-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .refreshButton {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: $color-primary;
    color: $color-black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: $spaces-medium;
  }
}


@media screen and (max-width: 380px) {
  .app .content {
    margin: 0;
    margin-top: $spaces-medium;
  }
}