@import '../../style/style.scss';

.header {
  .top {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  
    background-color: $color-white;
    color: $color-dark-gray;
    border-bottom: 2px solid $color-gray;

    .dark & {
      background-color: $color-darkest;
      color: $color-darktext;
      border-bottom: 2px solid $color-dark;
    }
  
    .logo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      .image {
        background-color: $color-primary;
        height: 32px;
        width: 32px;
        margin-left: $spaces-medium;
        margin-right: $spaces-medium;
      }
      .logotext {
        font-family: 'Proxima Nova';
        font-size: 18px;
      }
    }
  
    .right {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 100%;
      .whois {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Proxima Nova', sans-serif;
        margin-right: $spaces-small;
      }
      .buttons {
        display: flex;
        button {
          height: 42px;
          width: 42px;
          border-radius: 50%;
          margin: 3px;
          .text {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            margin: 0;
    
          }
          &:hover .text {
            color: $color-black;
          }
          &:focus .text {
            color: $color-primary;
          }

          .dark & {
            color: $color-darktext;
            &:hover .text {
              color: $color-black;
            }
          }
        }
      }
    }
  }
  .bottom {
    display: flex;
    justify-content: stretch;
    align-items: center;
    height: 32px;
    .links {
      display: flex;
      justify-content: stretch;
      align-items: center;
      width: 100%;

      .linkbutton {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 32px;

        background-color: $color-light-gray;
        color: $color-black;
        border: 2px solid $color-light-gray;
        
        font-size: 13px;
        font-family: 'Proxima Nova';
        
        
        &:focus {
          color: $color-black;
          border: 2px solid $color-gray;
          background-color: $color-gray;
        }
        
        &:hover {
          cursor: pointer;
        }
        
        &.active {
          border-bottom: 2px solid $color-primary;
        }

        .dark & {
          background-color: $color-darker;
          color: $color-darktext;
          border: 2px solid $color-darker;

          &:focus {
            border: 2px solid $color-notdark;
            background-color: $color-notdark;
          }

          &.active {
            border-bottom: 2px solid $color-primary;
          }
        }
      }
    }
  }
}