@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$color-primary: #f1c232;
$color-secondary: #ffffff;
$color-tertiary: #32b4f1;

$color-black: #000000;
$color-dark-gray: #505050;
$color-gray: rgb(200, 203, 204);
$color-light-gray: #dadada;
$color-white: #ffffff;
$color-green: #32f14b;
$color-red: #f13232;

$color-background: $color-gray;
$color-background-light: $color-white;

$spaces-xsmall: 3px;
$spaces-small: 6px;
$spaces-medium: 12px;
$spaces-large: 18px;
$spaces-huge: 24px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Proxima Nova';
}

button {
  background-color: $color-black;
  border: none;
  color: $color-white;
  cursor: pointer;
  font-family: 'Proxima Nova';
  font-size: 16px;
  padding: 0px;
  height: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .text {
    margin: 10px 24px;
  }

  &:hover {
    opacity: .85;
  }

  &:active {
    opacity: .75;
  }

  &:focus {
    outline: none;
    background: $color-dark-gray;
  }
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-red;
  color: #ffffff; 
  opacity: 1;
  padding: $spaces-medium 0px;
  font-size: 14px;
  font-family: 'Proxima Nova';

  i {
    margin-right: $spaces-medium;
  }

  &.clickable {
    cursor: pointer;
  }
}

.hyperlink {
  font-size: 12px;
  color: $color-dark-gray;
  margin-top: $spaces-medium;
  cursor: pointer;
  background: unset;
  padding: 0;
  margin: 0;
  height: auto;
  margin-top: $spaces-medium;
  border-bottom: solid 2px rgba(0,0,0,0);

  &:hover, &:focus {
    color: $color-black;
    border-bottom: solid 2px $color-black;
    background: unset;
  }
}