@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$color-primary: #f1c232;
$color-secondary: #ffffff;
$color-tertiary: #32b4f1;

$color-black: #000000;
$color-dark-gray: #505050;
$color-gray: rgb(200, 203, 204);
$color-light-gray: #dadada;
$color-white: #ffffff;
$color-darkgreen: #1a8d2a;
$color-green: #32f14b;
$color-red: #f13232;

$color-darktext: rgb(190, 190, 190);
$color-darkest: rgb(19, 19, 19);
$color-darker: rgb(28, 28, 28);
$color-dark: rgb(35, 35, 35);
$color-notdark: rgb(73, 73, 73);

$color-background: $color-gray;
$color-background-light: $color-white;

$spaces-xsmall: 3px;
$spaces-small: 6px;
$spaces-medium: 12px;
$spaces-large: 18px;
$spaces-huge: 24px;