@import './style/style.scss';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html, #root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./style/prox.ttf');
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Proxima Nova';
}

button {
  background-color: $color-black;
  border: none;
  color: $color-white;
  cursor: pointer;
  font-family: 'Proxima Nova';
  font-size: 16px;
  padding: 0px;
  height: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .text, span {
    margin: 10px 24px;
  }

  &:hover {
    opacity: .85;
  }

  &:active {
    opacity: .75;
  }

  &:focus {
    outline: none;
    background: $color-dark-gray;
  }

  &.alt {
    background-color: transparent;
    color: $color-black;
    &.active {
      color: $color-primary;
      background-color: $color-dark-gray;
    }
    &:focus {
      color: $color-white;
      background-color: $color-dark-gray;
    }
    &:hover {
      color: $color-white;
      background-color: $color-light-gray;
    }

  }
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-red;
  color: #ffffff; 
  opacity: 1;
  padding: $spaces-medium 0px;
  font-size: 14px;
  font-family: 'Proxima Nova';

  i {
    margin-right: $spaces-medium;
  }

  &.clickable {
    cursor: pointer;
  }
}

.hyperlink {
  font-size: 12px;
  color: $color-dark-gray;
  margin-top: $spaces-medium;
  cursor: pointer;
  background: unset;
  padding: 0;
  margin: 0;
  height: auto;
  margin-top: $spaces-medium;
  border-bottom: solid 2px rgba(0,0,0,0);

  &:hover, &:focus {
    color: $color-black;
    border-bottom: solid 2px $color-black;
    background: unset;
  }
}