@import '../../style/style.scss';

.rules {
  font-size: 12px;

  .add-rule {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: $spaces-medium;
    margin-bottom: $spaces-medium;
    padding: $spaces-medium;
    background-color: $color-white;
    border: 1px solid $color-gray;
    border-right: 4px solid $color-gray;
    border-bottom: 4px solid $color-gray;

    align-items: center;



    i {
      padding: $spaces-medium;
    }

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;

      .select-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }

    .column {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .inputComponent {
        margin-bottom: 0;
      }

      .allowed-vars {
        width: 100%;
        background-color: $color-gray;
        padding: $spaces-medium;
        font-size: 14px;
      }
    }

    .dark & {
      background-color: unset;
      border: 1px solid $color-black;
      border-right: 4px solid $color-black;
      border-bottom: 4px solid $color-black;

      .allowed-vars {
        background-color: $color-darkest;
      }
    }
  }
}

@media (max-width: 600px) {
  .rules {
    .add-rule {
      .row {
        &.ipRow, &.toggleRow {
          flex-direction: column;
        }
      }
    }
  }
}